* {
  margin: 0;
  padding: 0;
}

#container {
  width: 80%;
  margin: 100px auto;
  border: 1px solid black;
}

h1,
#formEnquiry,
#tbody tr,
#buttons {
  display: flex;
  justify-content: space-between;
  margin: 2px;
  padding: 10px;
}

#formEnquiry {
  display: flex;
  justify-content: space-between;
  background-color: rgb(78, 147, 211);
}

tr td,
th {
  padding: 10px;
  /* margin: 5px; */
}

table {
  width: 100%;
}

tr {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  background-color: aqua;
}

#buttons {
  gap: 20px;
}

@media (max-width: 950) {
  #container {
    width: 90%;
    margin: 100px auto;
    border: 1px solid black;
  }
}
